.DS_Store
.idea/
*.iml
node_modules
npm-debug.log
*.sublime-project
*.sublime-workspace
.vs

# Terraform files
.terraform/
*.pem
*.tfstate
*.tfstate.*
*.lock.hcl

# SSH keys and infrastructure secrets
*.pubinfrastructure/devops-key
*.pubinfrastructure/devops_key_rotatedinfrastructure/devops-key
infrastructure/devops-key
infrastructure/devops-key-rotated.pub
infrastructure/devops-key-rotated
infrastructure/devops-key-rotated.pub
infrastructure/*.pem
infrastructure/devops-key
infrastructure/devops-key.pub
